
<div class="logo">
  <span>>hey("Campbell")</span>
  <span>>make Awesome<p class='blink'>_</p></span>
</div>

<div id="intro">
  <h2>Jon Danger Campbell</h2>
  <h2>Developer. Producer. Breather.</h2>
  <h2>I am a Full Stack producer with over 12 years of experience. Now I'm doing the most creative work of my life as a code monkey.</h2>

</div>
<div class='thought-teasers'>
  <% @thoughts.each do |t| %>
    <%= render :partial => 'thoughts/headline', locals: {thought: t} %>
  <% end %>
</div>


