
  <div id="logo">
    <span>>hey("Campbell")</span>
    <span>>make Awesome<p class='blink'>_</p></span>
  </div>
  <div id='project-headline'>
    <% if @projects %>
      <% @projects.each do |proj| %>
        <%= render "project_headline", locals: {:project => proj} %>
      <% end %>
    <% else %>
      <div class='proj-thumb'> pic here
      </div>
      <div class='proj-desc'>Description here
      </div>
      <%end%>

  </div>
  <div class='thought-teasers'>
    <% @thoughts.each do |t| %>
      <%= render :partial => 'thoughts/headline', locals: {thought: t} %>
    <% end %>
  </div>
  <div id="intro">
    <h3>Jon Campbell</h3>
    <h3>Developer. Producer. Breather.</h3>


    <h4>I am a Full Stack producer who has been using my skills to create content for advertising and media for over a decade. Now, I’m pivoting my career to build more meaningful projects, bringing my team dynamic skill set and problem solving to the web development world. The software development world keeps me driven to learn and pursue new technologies.</h4>

    <h4>Whatever field or capacity I am working in, I am a producer.</h4>
  </div>
