/*
 *= require redactor-rails
 */
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";

$accent-color: #FF384D;
$bg-color: #F9F9F9;
$dark-bg: #2A2C33;
$active-dark: #1C1F23;
$active-accent: #FF2849;

body {
  background: white;
}

body h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: monospace ;
  font-weight: 500;
  line-height: 2;
  color: #050505;
}

#logo {
  background: url("monitor-black.jpg");
  line-height: 2em;
  color: limegreen;
  position: relative;
  left: -150px;
  padding-left: 200px;
  padding-top: 20px;
  padding-bottom: 200px;
  font-size: 2em;
  box-shadow: 23px 5px 24px rgba(48, 48, 48, 0.39);
  width: 100vw;
  span {
    display: block;
  }
}

#intro {
  margin-top: 100px;
  width: 80%;

  padding-left: 20px;
}

#foot-contact {
  display: none;
  bottom: 0px;
}

#face-header {
  display: inline-flex;
  width: 100%;
  justify: right;
}


.racing-stripe {
  z-index: 1;
  left: 20px;
  position: absolute;
  width: 5vw;
  height: 150%;
  background-color: $accent-color;
  top: 0;
  left: 3.5vw;
}
#fat-stripe {
  position: absolute;
  width: 5vw;
  height: 150%;
  background-color: $accent-color;
  top: 0;
  left: 3.5vw;
}

#thin-stripe {
  position: absolute;
  height: 150%;
  top: 0px;
  width: 1.5vw;
  background-color: $accent-color;
  left: .5vw;
}

.sidenav {
  z-index: 2;
  position: fixed;
  left: 0;
  width: 50px;
  background: $dark-bg;
  height: 315px;
  border-radius: 10px;
  transition: .5s;
  .menu-burger {
    width: 35px;
    height: 35px;
    border: 2px solid #f9f9f9;
    border-radius: 10px;
    margin: 20px auto;

    position: relative;
    .icon-bar{
      display: block;
      height: 10px;
      margin: auto;
      width: 20px;
      border-bottom: 4px solid #f9f9f9;
    }
  }

  ul.side-menu {
    padding-left: 0;
  }
  ul, ul a {
    list-style-type: none;
    color: #f9f9f9;

  }
  ul span {
    padding-top: 8px;

  }
  li {
    line-height: 2em;
    margin-top: 10px;
    padding: 10px 0 10px 10px;
    a {
    display: none
    }
    i {
      text-align: right;
      padding-right: 14px;
      float: right;
      font-size: 22px;
    }
  }
}

.expand{
  left: 0;
  width: 150px;
  height: 100vh;
  transition: .5s;
  .menu-burger {
    width: 40px;
    height: 40px;
    border: 2px solid #f9f9f9;
    border-radius: 10px;
    margin: 20px auto;
    right: 0;
    transition: 0.2s;
  }

  ul.side-menu {
    padding-left: 0;
  }
  ul, ul a {
    list-style-type: none;
    color: #f9f9f9;
  }
  ul span {
    padding-top: 8px;
    display: block;
  }
  li {
    line-height: 2em;
    margin-top: 10px;
    padding: 10px 0 10px 10px;
    box-shadow: inset 0px -20px 13px -25px rgba(255, 255, 255, 0.69);
    a {
      display: inline;
    }
    i {
      text-align: right;
      padding-right: 14px;
      float: right;
      font-size: 22px;
    }
  }
}


.main_panel {
  padding-left: 150px;
}
.blink {
  animation: blink 1s steps(5, start) infinite;
  -webkit-animation: blink 2s steps(5, start) infinite;
  display: inline;
}
@keyframes blink {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}