/*
 *= require redactor-rails
 *= require_self
 */
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,600,300,700);

$accent-color: #FF384D;
$bg-color: #F9F9F9;
$dark-bg: #2A2C33;
$active-dark: #1C1F23;
$active-accent: #FF2849;
$highlight: rgba(255, 56, 77, 0.34);
$bun: #DC8847;
$softgrey: #717171;
$muteWhite: #f7f7f7;

body {
  background: $muteWhite;
}

body h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 500;
  line-height: 2;
  color: $softgrey;
}

#notice {
  margin:0;
}

.logo {
  background: url("monitor-black.jpg");
  line-height: 2em;
  color: limegreen;
  position: relative;
  left: -150px;
  padding-left: 200px;
  padding-top: 20px;
  padding-bottom: 50px;
  font-size: 2em;
  box-shadow: 23px 5px 24px rgba(48, 48, 48, 0.39);
  width: 100vw;

  span {
    display: block;
  }
}

#intro {
  margin-top: 10px;
  width: 80%;
  padding-left: 20px;
}

.foot-stuff {
  text-align: center;
  height: 60px;
  position: absolute;
  right: 0;
  left: 0;

  h5 {
    line-height: .5em;
    font-size: .8em;
    color: $active-dark;
  }
}

.sidenav {
  z-index: 2;
  position: fixed;
  left: 0;
  width: 50px;
  background: none;
  height: 60px;
  border-radius: 3px;
  transition: all .5s;
  overflow: hidden;

  .menu-burger {
    width: 35px;
    height: 35px;
    border: 2px solid #f9f9f9;
    border-radius: 10px;
    margin: 20px auto;
    position: relative;
    background: $dark-bg;
    box-shadow: 0 0 0 2pt rgb(42, 44, 51);

    .icon-bar{
      display: block;
      height: 9px;
      margin: auto;
      width: 19px;
      border-bottom: 4px solid #f9f9f9;
      transition: 0.4s;
    }
  }

  ul.side-menu {
    padding-left: 0;
  }

  ul, ul a {
    list-style-type: none;
    color: #f9f9f9;
  }

  ul span {
    padding-top: 8px;
  }

  li {
    line-height: 2em;
    margin-top: 10px;
    padding: 10px 0 10px 10px;

    a {
      position: absolute;
      left: -1000px;
      font-size: 1px;
      width: 1px;
    }

    i {
      text-align: right;
      padding-right: 14px;
      float: right;
      font-size: 22px;
    }
  }
}

.expand{
  left: 0;
  width: 150px;
  height: 100vh;
  background: $dark-bg;
  transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  .menu-burger {
    width: 40px;
    height: 40px;
    border: 2px solid $muteWhite;
    right: 0;
    transition: 0.2s;

    .icon-bar{
      transition: 0.4s;
    }

    #top{
      margin-top: 7px;
      border-bottom: none;
      border-top: 10px solid $bun;
      border-radius: 30px 30px 0 0;
      height: 9px;
      width: 22px;
      transition: 0.2s;
    }

    #meat{
      display: block;
      height: 9px;
      width: 26px;
      border-bottom: none;
      background-color: brown;
      border-radius: 10px;
      border-top: 4px double green;

    }

    #bottom{
      margin-top: 0;
      border-bottom: 4px solid $bun;
      border-radius: 0 0 15px 15px;
      height: 4px;
      width: 22px;
    }
  }

  li {
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    a {
      left: 10px;
      font-size: 15px;
      transition: all 0.5s;
      box-shadow: inset 0px -20px 13px -25px rgba(255, 255, 255, 0.69);
      width: 100px;
    }
  }
}

.main_panel {
  padding-left: 150px;

  .thought-teasers{
    margin: 10px 0;
  }

  .blog-body {
    margin: auto auto auto 40px;
    width: 75%;

    a {
      color: $active-dark;
      text-decoration: none;
      border-bottom: 1px solid $highlight;
      transition: 0.2s;
    }
    a:hover{
      text-decoration: none;
      box-shadow: inset 0 -10px 0px 0px $highlight;
      border-bottom: 4px solid $highlight;
      transition: 0.2s;
    }
    p {
      font-size: 1.45em;
      line-height: 2em;
      margin: 0 0 10px;
    }
  }
}

.thought-headline{
  background-repeat: no-repeat;
  background-size: cover;
  color: $active-dark;
  /* height: 150px; */
  width: 80%;
/*  position: relative;*/
  /* left: -150px; */
  /*box-shadow: inset 0 66px 100px 10px rgba(0, 0, 0, 0.6);*/
  .right-headline{
    display: inline-block;
    .title{
      font-size: 2em;
      color: $active-dark;
    }
    .date{
    }
  }
    a {
      text-decoration: none !important;
      border-bottom: none !important;
      transition: 0.2s;
    }

    a:hover{
      text-decoration: none;
      box-shadow: none !important;;
      border-bottom: none !important;;
      transition: 0.2s;
    }

  img {
    border-radius: 100%;
    border-spacing: 2px;
    margin: 20px;
    margin-left: 100px;
    border: 2px solid $active-dark;
  }
}

.blink {
  animation: blink 1s steps(5, start) infinite;
  -webkit-animation: blink 2s steps(5, start) infinite;
  display: inline;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}