<p id="notice"><%= notice %></p>

<div class="logo ">
  <span>>make awesome</span>
  <span class='byline'>><p class='blink'>_</p></span>
</div>

<div class='blog-body'>
  <% @thoughts.each do |thought| %>
     <%= render :partial => 'thoughts/headline', locals: {thought: thought} %>
  <% end %>
</div>
