<!DOCTYPE html>
<html>
<head>
  <title>HeycampbellBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id='sidenav'>
  <div class='menu-burger'>
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </div>

  <ul class="side-menu">
    <li><a href="#">Projects</a></li>
    <li><a href="#">Thoughts</a></li>
    <span>Contact</span>
    <li><a href="https://github.com/HeyCampbell">Github</a></li>
    <li><a href="https://www.linkedin.com/in/heycampbell">LinkedIn</a></li>
    <li><a href="https://twitter.com/heycampbell">Twitter</a></li>
    <li><a href="mailto:heycampbell@gmail.com">Email</a></li>
  </ul>

</div>


<%= yield %>

</body>
</html>
