<!DOCTYPE html>
<html>
<head>
  <title>HeycampbellBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav id='top-bar'> nav bar stuff is here </nav>
<%= yield %>
  <div id="foot-contact"> Social media contacts will be here </div>
</body>
</html>
